html, body, .container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:#DDD;
}
h1 {
  color: #cc0080;
  text-align: center;
  margin: 1em;
  margin-bottom: 1.5em;
  font-size: 6em;
  font-family: URW Chancery L;
}
.soustitre {
  font-family: URW Chancery L;
  font-size: 1.5em;
  margin: 0.5em;
}
.p{
  margin: 0.5em;
}
img {
    width: 240px;
    height: 315px;
    border: 2px solid black;
    margin: 0.5em;
    margin-right: 0.5em;
  }
  #dompteuse {
    width: 620px;
    height: 745px;
    margin-left: 5em;
    margin-top: 3em;
  }
  .dompteuse, .sousdomp {
    margin-top: 4em;
    text-align: center;
    margin-bottom: 7em;
  }
  li {
    text-align: left;
    margin: 0.5em;
    font-size: 1em;
  }
h3 {
  font-size: 3em;
  text-align: center;
}
#container {
  box-sizing: border-box;
  width: 98%;
  position: relative;
}
#tableau {
  width: 80%;
  margin: 2em;
  margin-left: 5em;
}
h4 {
  font-size: 2em;
  margin: 1em;
  text-align: center;
}
.footer {
  margin: 20px;
}
.btn-danger {
  background-color: #cc0080;
  text-align: center;
  margin-left: 650px;
  margin-bottom: 30px;
}
